 
<ion-menu  menuId=“home-menu” contentId="home-menu-main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
        <ion-item  [routerDirection]="'root'" routerLink="/home">
          <ion-button    slot="start">
            <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
          </ion-button>
          <ion-label>Perfil</ion-label>
        </ion-item>

        <ion-item  [routerDirection]="'root'"  routerLink="/servicio">
          <ion-button   slot="start">
            <ion-icon slot="icon-only" name="disc-outline"></ion-icon>
          </ion-button>
          <ion-label>Servicios</ion-label>
        </ion-item>
  
    
        <ion-item   [routerDirection]="'root'" routerLink="/factura">
          <ion-button    slot="start">
            <ion-icon slot="icon-only" name="id-card-sharp"></ion-icon>
          </ion-button>
          <ion-label>Acerca De</ion-label>
        </ion-item>
       
    
        <ion-item  (click)="CerrarSesion()" >
          <ion-button slot="start">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
          <ion-label>Cerrar Sesion</ion-label>
        </ion-item>

        <ion-menu-toggle>
        <ion-item  >
            <ion-button slot="start">
              <ion-icon name="log-out-outline"></ion-icon>
            </ion-button>
             <ion-label>Cerrar Menu</ion-label>
        </ion-item>
      </ion-menu-toggle>


    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="home-menu-main-content">
  <ion-header >
    <ion-toolbar >
      <ion-buttons  slot="start">
        <ion-menu-button autoHide="false" ></ion-menu-button>
      </ion-buttons>
      <ion-title>Mi Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img id="imagen" [src]="usuarioAuxiliar.foto" alt="">
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center"  >
        <ion-input style="font-size: 16px; " [(ngModel)]="usuarioAuxiliar.username" class="normal" type="text" inputmode="text">
        </ion-input>
 
        <h5 class="country">Switzerland</h5>
        <h6 class="ranking">Current ranking: <ion-chip>
          <ion-label>2</ion-label>
          </ion-chip>  </h6>
  
      </div>
      <ion-button expand="full" color="primary">http://rogerfederer.com</ion-button>
      <ion-button expand="full" color="secondary">@RogerFederer on Twitter</ion-button>
      <ion-button expand="full" color="secondary">View profile at ATP</ion-button>
    </div>
  </ion-content>