<ion-menu menuId="“home-menu”" contentId="home-menu-main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item [routerDirection]="'root'" routerLink="/home">
        <ion-button slot="start">
          <ion-icon slot="icon-only" name="person-circle-outline"></ion-icon>
        </ion-button>
        <ion-label>Perfil</ion-label>
      </ion-item>

      <ion-item [routerDirection]="'root'" routerLink="/servicio">
        <ion-button slot="start">
          <ion-icon slot="icon-only" name="disc-outline"></ion-icon>
        </ion-button>
        <ion-label>Servicios</ion-label>
      </ion-item>

      <ion-item [routerDirection]="'root'" routerLink="/factura">
        <ion-button slot="start">
          <ion-icon slot="icon-only" name="id-card-sharp"></ion-icon>
        </ion-button>
        <ion-label>Acerca De</ion-label>
      </ion-item>

      <ion-item (click)="CerrarSesion()">
        <ion-button slot="start">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-button>
        <ion-label>Cerrar Sesion</ion-label>
      </ion-item>

      <ion-menu-toggle>
        <ion-item>
          <ion-button slot="start">
            <ion-icon name="log-out-outline"></ion-icon>
          </ion-button>
          <ion-label>Cerrar Menu</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="home-menu-main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false"></ion-menu-button>
      </ion-buttons>
      <ion-title>Mi Perfil</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img id="imagen" [src]="usuarioAuxiliar.foto" alt="" />
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <label style="font-size: 25px; font-weight: bold"
          >{{usuarioAuxiliar.nombre}}
        </label>
        <br />
        <label style="font-size: 15px; font-weight: bold">
          CI:{{usuarioAuxiliar.cedula}}
        </label>
        <br />
        <label style="font-size: 15px; font-weight: bold"
          >Telf: {{usuarioAuxiliar.telefono}}</label
        >
        <h6 class="ranking">{{usuarioAuxiliar.perfil}}</h6>
      </div>
      <ion-button
        (click)="metodo()"
        id="open-modal"
        expand="full"
        color="primary"
        >Editar Datos</ion-button
      >
    </div>
  </ion-content>
  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button
              style="font-size: 15px"
              color="primary"
              (click)="cancel()"
              >Cancelar</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content
        style="--background: none"
        id="modalUpdateUser"
        class="bg-color"
      >
        <ion-card-content class="ion-no-margin">
          <ion-card-title
            style="
              text-align: center;
              margin-bottom: 8px;
              font-weight: bold;
              font-size: 25px;
              color: #53565a;
            "
          >
            Actualizar
          </ion-card-title>
          <form [formGroup]="updateUsuarioForm" (ngSubmit)="updateUser()">
            <div class="wrapform">
              <ion-item disabled="true">
                <ion-input
                  name="username"
                  id="username"
                  type="email"
                  required
                  placeholder=" Email"
                  formControlName="username"
                  [(ngModel)]="usuarioAuxiliar.username"
                >
                  <ion-icon color="primary" name="text-outline"></ion-icon>
                  &nbsp; &nbsp;
                </ion-input>
              </ion-item>

              <ion-item disabled="true">
                <ion-input
                  name="password"
                  type="password"
                  id="password"
                  required
                  placeholder=" Contraseña"
                  formControlName="password"
                  minlength="6"
                  [(ngModel)]="usuarioAuxiliar.password"
                >
                  <ion-icon name="lock-closed"></ion-icon>
                  &nbsp; &nbsp;
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-input
                  name="nombre"
                  id="nombre"
                  type="text"
                  required
                  placeholder="Nombre"
                  formControlName="nombre"
                  [(ngModel)]="usuarioAuxiliar.nombre"
                >
                  <ion-icon color="primary" name="text-outline"></ion-icon>
                  &nbsp; &nbsp;
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-input
                  name="cedula"
                  id="cedula"
                  required
                  placeholder="Numero de Cedula"
                  formControlName="cedula"
                  [(ngModel)]="usuarioAuxiliar.cedula"
                >
                  <ion-icon
                    color="primary"
                    name="finger-print-outline"
                  ></ion-icon>
                  &nbsp; &nbsp;
                </ion-input>
              </ion-item>

              <ion-item>
                <ion-input
                  name="telefono"
                  id="telefono"
                  type="text"
                  required
                  placeholder="Telefono"
                  formControlName="telefono"
                  [(ngModel)]="usuarioAuxiliar.telefono"
                >
                  <ion-icon color="primary" name="call-outline"></ion-icon>
                  &nbsp; &nbsp;
                </ion-input>
              </ion-item>

              <ion-item disabled="true">
                <ion-input
                  name="perfil"
                  id="perfil"
                  required
                  formControlName="perfil"
                  interface="action-sheet"
                  placeholder="Seleccione su Perfil"
                  [(ngModel)]="usuarioAuxiliar.perfil"
                >
                  <ion-icon
                    color="primary"
                    name="ellipsis-vertical-outline"
                  ></ion-icon>
                  &nbsp; &nbsp;
                </ion-input>
              </ion-item>
              <ion-item>
                <ion-label class="normal"> Foto: </ion-label>
                <ion-buttons>
                  <ion-button>
                    <label for="file-upload">
                      <ion-icon slot="icon-only" color="primary" name="images"> </ion-icon>
                    </label>
                    <input
                      required
                      (change)="mostrarImagen($event)"
                      id="file-upload"
                      style="display: none"
                      type="file"
                      accept="image/*"
                    />
                  </ion-button>
                </ion-buttons>
              </ion-item>
              <ion-item>
                <img
                  id="imagenonUpdate"
                  style="
                    max-width: 80%;
                    max-height: 80%;
                    margin-left: auto;
                    margin-right: auto;
                  "
                  class="image"
                  [src]="userActualizado.foto"
                />
              </ion-item>
            </div>
            <div class="sign-btn-wrap">
              <ion-button
                color="success"
                shape="round"
                type="submit"
                fill="solid"
                class="sign-btn"
                [disabled]="!updateUsuarioForm.valid"
                >Actualizar</ion-button
              >
            </div>
          </form>
        </ion-card-content>
      </ion-content>
    </ng-template>
  </ion-modal>
</div>
